* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EA3E70;
background: linear-gradient(90deg, rgba(234, 62, 112, 1) 0%, rgba(176, 61, 152, 1) 50%, rgba(121, 68, 200, 1) 100%);
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 13px;
    font-weight: bold;
    padding: 30px 10px 20px 20px;
}

.container > div {
    background-color: #ffc500;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.div3 {
    grid-column: span 8 / span 8;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div5 {
    grid-column-start: 4;
    grid-row-start: 1;
}

.div6 {
    grid-column-start: 5;
    grid-row-start: 1;
}

.div7 {
    grid-column-start: 6;
    grid-row-start: 1;
}

.div8 {
    grid-column-start: 7;
    grid-row-start: 1;
}

.div9 {
    grid-column-start: 8;
    grid-row-start: 1;
}

.div10 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.div11 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div12 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div13 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.div14 {
    grid-column-start: 5;
    grid-row-start: 2;
}

.div15 {
    grid-column-start: 6;
    grid-row-start: 2;
}

.div16 {
    grid-column-start: 7;
    grid-row-start: 2;
}

.div17 {
    grid-column-start: 8;
    grid-row-start: 2;
}

.div18 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div19 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div20 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.div21 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.div22 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.div23 {
    grid-column-start: 6;
    grid-row-start: 3;
}

.div24 {
    grid-column-start: 7;
    grid-row-start: 3;
}

.div25 {
    grid-column-start: 8;
    grid-row-start: 3;
}

.div26 {
    grid-row-start: 5;
}

.div27 {
    grid-row-start: 5;
}

.div28 {
    grid-row-start: 5;
}

.div29 {
    grid-row-start: 5;
}

.div30 {
    grid-row-start: 5;
}
        